body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.landing-page {
    min-height: 100vh;
    background-image: url('../media/images/2809402.jpg');
    background-size: cover;
}
li {
    display: inline-block;
}